// Reset 
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
  }
  
  body {
    font-family: 'Open Sans Variable', sans-serif;
    background-color: #000;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style-type: none;
  }
  
  ul {
    padding: 0;
  }